<!--about start here-->
	<div class="about">
			<div class="container">
				<div class="about-left">
					<h2>ABOUT</h2>
						<div class="about-bottom">
							<div class="col-md-7 about-grid">
								<p>Bio to go here</p>
							</div>
							<div class="col-md-5 about-grid1">
								<a href="single.html" >
									<%= image_tag ("MFBDAbout1.jpg"), class: "img-responsive" %>
								</a>								
							</div>
						<div class="clearfix"> </div>
					</div>
				</div>
			</div>
			<!---->
			<div class=" in-profile">
			<div class="container">
				<h3>MEMBERS</h3>
				<div class="team-left">					
					<div class="col-md-4 team-top">
					<%= image_tag ("DarrylAbout1.jpg") %>
						<h6>Big D </h6>
						<p>Guitar and Vocals</p>
					</div>
					<div class="col-md-4 team-top ">
						<%= image_tag ("MacAbout1.jpg") %>
						<h6>Mac Fontana</h6>
						<p>Keyboards and Vocals</p>
					</div>
					<div class="col-md-4 team-top">
						<%= image_tag ("MacAbout1.jpg") %>
						<h6>Mark E</h6>
						<p>Drums</p>
					</div>
					<div class="clearfix"> </div>
				</div>
			</div>
			</div>
			<!---->
			
		<!---->
</div>