<!--footer start here-->
<div class="footer">
	<div class="container">
		<div class="footer-bottom">
		     <ul class="ftr-nav">
			 	<li><a href="index.html" class="active"><span class="glyphicon glyphicon-home" aria-hidden="true"> </span></a></li><li><%= link_to "About Band", about_path %></li>
			 	<li><%= link_to "Songs", songs_path %></li>  
				<li><a href="gallery.html">Gallery</a></li> 
				<li><a href="events.html">Events</a></li> 
				<li><a href="contact.html">Contact</a></li> 
			   </ul>
			<div class="copy-right">
				<p>© 2015 Mac Fontana and Big D. All rights reserved.</p>
				<ul class="social">
					<li><a href="#"><i> </i></a></li>						
					<li><a href="#"><i class="twitter"> </i></a></li>
				</ul>
			</div>		
        </div>
  </div>
</div>
<!--footer end here-->