<div class="banner">
	<div class="container">
		<div class="header">
				<div class="logo">
					<h1><a href="index.html">Mac Fontana &amp Big D</a></h1>
				</div>
				<div class="top-nav">
					<span class="menu"> <%= image_tag ("icon.png") %></span>
					<ul class="res">
					   <li>
						   	<%= link_to root_path, class: "active" do %>
	    						<i class="glyphicon glyphicon-home"></i>
							<% end %>
						</li>
						<li><%= link_to "About Band", about_path %></li> 
						<li><%= link_to "Songs", songs_path %></li> 
						<li><a href="gallery.html">Gallery</a></li> 
						<li><a href="events.html">Gigs</a></li> 
						<li class="nav-line"><a href="contact.html">Contact</a></li> 
				   </ul>
					<!-- script-for-menu -->
						 <script>
						   $( "span.menu" ).click(function() {
							 $( "ul.res" ).slideToggle( 300, function() {
							 // Animation complete.
							  });
							 });
						</script>
		        <!-- /script-for-menu -->
				</div>
			  <div class="clearfix"> </div>
		 </div>
		 <div class="banner-main">
		 	<div class="bann-text">
			  	 <h3>Find out where we're playing next!</h3>
			  	 <a href="#">Click Here</a>
			</div>
		</div>
  </div>
</div>